<app-header currentPage="contacts"></app-header>
<app-hero locaion='Contact Us' heading='24/7 Customer support Including weekends.'
    descr='We’re always there ti help regardless the number of queries at hand.'
    imageUrl='/assets/images/54ea5241c39d69a4a56321cd9211df3d.png' [hasButton]="false">
</app-hero>
<p>Please note that all message will be replied within the next 12hours</p>
<form *ngIf="!formSubmitted" #contactsForm="ngForm" target="_blank" class="contact_form" action="" method="">
    <input type="text" placeholder="Name *" name="name" ngModel #name="ngModel" required>
    <input type="email" placeholder="Email *" name="email" ngModel #email="ngModel" email required>
    <textarea placeholder="Your Comment" name="text" ngModel #text="ngModel" required></textarea>
    <button type="button" [disabled]="contactsForm.invalid" (click)="onClick()" class="primary_button">Publish</button>
</form>
<div *ngIf="formSubmitted">
    <h3 class="success">Your feedback has successfully been submitted! <i class="fas fa-check-circle"></i></h3>
</div>
<div class="comment_section" *ngIf="isAdmin">
    <h3>Comments:</h3>
    <div *ngIf="appComments.length>0">
        <app-contact *ngFor="let comment of appComments" [author]="comment.name" [content]="comment.text" [email]="comment.email" [contactId]="comment.objectId">
        </app-contact>
    </div>
    <div *ngIf="appComments.length==0">
        <p>No comments yet. Be the first one to share your thoughts on this post. </p>
    </div>
</div>
<div class="contact_map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2935.1871880084736!2d23.367595915135244!3d42.63619147916928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85cb55668ae1%3A0x447f9dd693e57def!2sSoftware%20University!5e0!3m2!1sen!2sbg!4v1648989459282!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<app-footer></app-footer>
