<header>
    <div class="logo">
        <img src="/assets/images/kindpng_707557.png" alt="">
        <span class="logo_text">CoinBase</span>
    </div>
    <ul class="nav">
        <a routerLink="/home">
            <li [ngClass]="{'current':currentPage=='home'?true:false}">Home</li>
        </a>
        <a routerLink="/about">
            <li [ngClass]="{'current':currentPage=='about'?true:false}">About Us</li>
        </a>
        <a routerLink="/blog">
            <li [ngClass]="{'current':currentPage=='blog'?true:false}">Blog</li>
        </a>
        <a routerLink="/contacts">
            <li [ngClass]="{'current':currentPage=='contacts'?true:false}">Contact Us</li>
        </a>
    </ul>
    <div class="actions">
        <ul class="nav" *ngIf="hasUser">
            <a routerLink="/market/crypto">
                <li [ngClass]="{'current':currentPage=='crypto'?true:false}">Sell Crypto</li>
            </a>
            <a routerLink="/market/giftcards">
                <li [ngClass]="{'current':currentPage=='giftcards'?true:false}">Sell Giftcard</li>
            </a>
        </ul>
        <ul class="auth" *ngIf="!hasUser">
            <a routerLink="/login" class="primary_button">
                <li>Login</li>
            </a>
            <a routerLink="/register" class="primary_button">
                <li>Register</li>
            </a>
        </ul>
        <ul class="auth" *ngIf="hasUser">
            <a href="#" (click)="onLogout()" class="primary_button">
                <li>Logout</li>
            </a>
        </ul>
    </div>
</header>